n8n workflow.backup-20260128-115225
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4464,
        352
      ],
      "id": "f103fbd2-f12f-4102-904d-111c913ac74e",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nodo-to-wolf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4464,
        560
      ],
      "id": "6ace9d57-b6ca-4b4d-bbc3-74cfa33da58c",
      "name": "Webhook Trigger",
      "webhookId": "nodo-to-wolf-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nodo-id-assignment",
              "name": "NODO_id",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "1bd575da-8126-4ab5-9a26-21b8427538e4",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4256,
        448
      ],
      "id": "bf9d62cd-c506-4eb6-9e77-fbfe87168307",
      "name": "Set NODO ID"
    },
    {
      "parameters": {
        "url": "=https://gaiag.nodogestion.com/api/operaciones/consultar/{{ $json.NODO_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4032,
        448
      ],
      "id": "1aa31727-9529-41d0-a80c-1a6fbd35e354",
      "name": "Get Contract from NODO",
      "credentials": {
        "httpBasicAuth": {
          "id": "8Vg7TyHllfv2EefZ",
          "name": "NODO - Prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://canallogos.v3.dev.partnertec.es/application/ws/v1/index.php",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "method",
              "value": "auth"
            },
            {
              "name": "clientId",
              "value": "={{ $vars.WOLF_CLIENT_ID || 'EnergiaMia2020' }}"
            },
            {
              "name": "secret",
              "value": "={{ $vars.WOLF_SECRET || 'babf843e78a37b3caed2a8882291a674bfa1ec77a1be07e5f1c779c5d4269792' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3808,
        448
      ],
      "id": "a3a211c1-9d40-418b-982d-d863db70deff",
      "name": "Wolf Auth"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.WOLF_API_URL || 'https://canallogos.v3.dev.partnertec.es/application/ws/v1/index.php' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Wolf Auth').item.json.data.token }}"
            },
            {
              "name": "method",
              "value": "get"
            },
            {
              "name": "class",
              "value": "County"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3584,
        352
      ],
      "id": "09e261ec-89ad-4b56-b885-a0bdf26b8048",
      "name": "Fetch Counties"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.WOLF_API_URL || 'https://canallogos.v3.dev.partnertec.es/application/ws/v1/index.php' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Wolf Auth').item.json.data.token }}"
            },
            {
              "name": "method",
              "value": "get"
            },
            {
              "name": "class",
              "value": "ContractProduct"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3584,
        560
      ],
      "id": "543ee75b-77ac-4978-b6e3-df9820ec63f9",
      "name": "Fetch Products"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3376,
        448
      ],
      "id": "6aeb89db-fbcd-49eb-93da-f7cd114c8777",
      "name": "Merge Reference Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Get products from Wolf API response\nlet rawProducts = {};\nfor (const item of items) {\n  if (item.json.data && typeof item.json.data === 'object') {\n    // Check if it's the products response (has CODE field in values)\n    const firstValue = Object.values(item.json.data)[0];\n    if (firstValue && firstValue.CODE !== undefined) {\n      rawProducts = item.json.data;\n    }\n  }\n}\n\n// Convert products object to array with normalized names\nconst productList = Object.values(rawProducts).map(p => ({\n  id: p.ID,\n  code: p.CODE,\n  name: p.NAME,\n  nameUpper: (p.NAME || p.CODE || '').toUpperCase(),\n  disabled: p.DISABLED === '1'\n}));\n\n// Province map (Spain ISO codes)\nconst provinceMap = {\n  'ALAVA': 'ES-VI', 'ÁLAVA': 'ES-VI', 'ARABA': 'ES-VI',\n  'ALBACETE': 'ES-AB',\n  'ALICANTE': 'ES-A', 'ALACANT': 'ES-A',\n  'ALMERIA': 'ES-AL', 'ALMERÍA': 'ES-AL',\n  'ASTURIAS': 'ES-O', 'OVIEDO': 'ES-O',\n  'AVILA': 'ES-AV', 'ÁVILA': 'ES-AV',\n  'BADAJOZ': 'ES-BA',\n  'BARCELONA': 'ES-B',\n  'BURGOS': 'ES-BU',\n  'CACERES': 'ES-CC', 'CÁCERES': 'ES-CC',\n  'CADIZ': 'ES-CA', 'CÁDIZ': 'ES-CA',\n  'CANTABRIA': 'ES-S', 'SANTANDER': 'ES-S',\n  'CASTELLON': 'ES-CS', 'CASTELLÓN': 'ES-CS', 'CASTELLO': 'ES-CS',\n  'CEUTA': 'ES-CE',\n  'CIUDAD REAL': 'ES-CR',\n  'CORDOBA': 'ES-CO', 'CÓRDOBA': 'ES-CO',\n  'CORUÑA': 'ES-C', 'A CORUÑA': 'ES-C', 'LA CORUÑA': 'ES-C',\n  'CUENCA': 'ES-CU',\n  'GIRONA': 'ES-GI', 'GERONA': 'ES-GI',\n  'GRANADA': 'ES-GR',\n  'GUADALAJARA': 'ES-GU',\n  'GUIPUZCOA': 'ES-SS', 'GUIPÚZCOA': 'ES-SS', 'GIPUZKOA': 'ES-SS',\n  'HUELVA': 'ES-H',\n  'HUESCA': 'ES-HU',\n  'ILLES BALEARS': 'ES-PM', 'ISLAS BALEARES': 'ES-PM', 'BALEARES': 'ES-PM', 'MALLORCA': 'ES-PM',\n  'JAEN': 'ES-J', 'JAÉN': 'ES-J',\n  'LEON': 'ES-LE', 'LEÓN': 'ES-LE',\n  'LERIDA': 'ES-L', 'LLEIDA': 'ES-L', 'LÉRIDA': 'ES-L',\n  'LUGO': 'ES-LU',\n  'MADRID': 'ES-M',\n  'MALAGA': 'ES-MA', 'MÁLAGA': 'ES-MA',\n  'MELILLA': 'ES-ML',\n  'MURCIA': 'ES-MU',\n  'NAVARRA': 'ES-NA', 'NAFARROA': 'ES-NA',\n  'OURENSE': 'ES-OR', 'ORENSE': 'ES-OR',\n  'PALENCIA': 'ES-P',\n  'LAS PALMAS': 'ES-GC', 'PALMAS': 'ES-GC', 'GRAN CANARIA': 'ES-GC',\n  'PONTEVEDRA': 'ES-PO',\n  'LA RIOJA': 'ES-LO', 'RIOJA': 'ES-LO', 'LOGROÑO': 'ES-LO',\n  'SALAMANCA': 'ES-SA',\n  'SANTA CRUZ DE TENERIFE': 'ES-TF', 'TENERIFE': 'ES-TF',\n  'SEGOVIA': 'ES-SG',\n  'SEVILLA': 'ES-SE',\n  'SORIA': 'ES-SO',\n  'TARRAGONA': 'ES-T',\n  'TERUEL': 'ES-TE',\n  'TOLEDO': 'ES-TO',\n  'VALENCIA': 'ES-V', 'VALÈNCIA': 'ES-V',\n  'VALLADOLID': 'ES-VA',\n  'VIZCAYA': 'ES-BI', 'BIZKAIA': 'ES-BI',\n  'ZAMORA': 'ES-ZA',\n  'ZARAGOZA': 'ES-Z'\n};\n\nreturn [{\n  json: {\n    provinceMap,\n    productList,\n    debug_products_count: productList.length,\n    debug_first_product: productList[0] || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3120,
        352
      ],
      "id": "2be5eb5c-82ed-4fe5-95a3-e4b54a15143b",
      "name": "Build Reference Maps"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2928,
        544
      ],
      "id": "5a7adc73-7847-43e9-a38e-ba45f027a5c7",
      "name": "Merge NODO + References"
    },
    {
      "parameters": {
        "jsCode": "// Transform NODO data to Wolf CRM Customer format\nconst items = $input.all();\n\n// Get NODO data and reference maps\nlet nodoData = null;\nlet provinceMap = {};\nlet productList = [];\n\nfor (const item of items) {\n  if (item.json.datos) {\n    nodoData = item.json.datos;\n  }\n  if (item.json.provinceMap) {\n    provinceMap = item.json.provinceMap;\n    productList = item.json.productList || [];\n  }\n}\n\nif (!nodoData) {\n  throw new Error('NODO data not found in input');\n}\n\n// Helper functions\nfunction normalizeString(s) {\n  return (s || '').toString().trim();\n}\n\nfunction getProvinceCode(provinceName) {\n  const normalized = normalizeString(provinceName).toUpperCase();\n  return provinceMap[normalized] || provinceMap[normalized.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')] || '';\n}\n\nfunction detectVatType(nif) {\n  const cleaned = normalizeString(nif).toUpperCase();\n  if (!cleaned) return 'NIF';\n  if (/^[XYZ]/.test(cleaned)) return 'NIE';\n  if (/^[A-W]\\d/.test(cleaned)) return 'CIF';\n  return 'NIF';\n}\n\nfunction getContractType(tipoEmpresa) {\n  const tipo = normalizeString(tipoEmpresa).toUpperCase();\n  switch (tipo) {\n    case 'PARTICULAR': return 'HOGAR';\n    case 'EMPRESA': return 'EMPRESA';\n    case 'AUTONOMO': return 'AUTONOMO';\n    case 'COMUNIDAD DE PROPIETARIOS': return 'COM_PROP';\n    case 'ADMINISTRACION PUBLICA': return 'ORG_PUB';\n    default: return 'HOGAR';\n  }\n}\n\nfunction getMandatoSepa(tipoEmpresa) {\n  const tipo = normalizeString(tipoEmpresa).toUpperCase();\n  return tipo === 'EMPRESA' ? 'B2B' : 'Core';\n}\n\nfunction getSupplyType(concepto) {\n  const upper = normalizeString(concepto).toUpperCase();\n  if (upper.includes('GAS')) return 'Gas';\n  return 'Electricidad';\n}\n\nfunction extractTarifaBomp(concepto) {\n  const match = normalizeString(concepto).match(/^([0-9.]+TD)/i);\n  return match ? match[1].toUpperCase() : '';\n}\n\nfunction formatName(name) {\n  return normalizeString(name).replace(/\\s+/g, '_');\n}\n\nfunction matchProduct(concepto, productList) {\n  const conceptoUpper = normalizeString(concepto).toUpperCase();\n  \n  // Remove tarifa prefix (e.g., \"2.0TD - \")\n  const conceptoClean = conceptoUpper.replace(/^[0-9.]+TD\\s*[-–]\\s*/i, '').trim();\n  \n  // Try exact match first\n  let match = productList.find(p => p.nameUpper === conceptoUpper || p.nameUpper === conceptoClean);\n  if (match) return match;\n  \n  // Try: product name contains cleaned concepto\n  match = productList.find(p => p.nameUpper.includes(conceptoClean));\n  if (match) return match;\n  \n  // Try: cleaned concepto contains product name\n  match = productList.find(p => conceptoClean.includes(p.nameUpper));\n  if (match) return match;\n  \n  // Fuzzy match: extract key words and score\n  const conceptoWords = conceptoClean.split(/[\\s_-]+/).filter(w => w.length > 1);\n  \n  let bestMatch = null;\n  let bestScore = 0;\n  \n  for (const product of productList) {\n    const productWords = product.nameUpper.split(/[\\s_-]+/).filter(w => w.length > 1);\n    \n    let score = 0;\n    for (const cWord of conceptoWords) {\n      for (const pWord of productWords) {\n        if (cWord === pWord) {\n          score += 2;\n        } else if (pWord.includes(cWord) || cWord.includes(pWord)) {\n          score += 1;\n        }\n      }\n    }\n    \n    if (score > bestScore) {\n      bestScore = score;\n      bestMatch = product;\n    }\n  }\n  \n  if (bestScore >= 2) return bestMatch;\n  \n  return null;\n}\n\n// Get province codes\nconst customerCounty = getProvinceCode(nodoData.provincia);\nconst cupsCounty = getProvinceCode(nodoData.provincia_suministro);\n\n// Match product\nconst matchedProduct = matchProduct(nodoData.concepto, productList);\n\n// Build output\nconst wolfToken = $('Wolf Auth').item.json.data.token;\nconst nodoId = $('Set NODO ID').item.json.NODO_id;\n\nreturn [{\n  json: {\n    NODO_id: nodoId,\n    wolf_token: wolfToken,\n    nodo_raw: nodoData,\n    \n    customer: {\n      NAME: formatName(nodoData.nombre_cliente || nodoData.persona_contacto),\n      VAT: normalizeString(nodoData.nif),\n      VAT_TYPE: detectVatType(nodoData.nif),\n      MANAGER_USER_CODE: 'CRM006',\n      ADDRESS: normalizeString(nodoData.direccion),\n      POSTAL_CODE: normalizeString(nodoData.cp),\n      CITY: normalizeString(nodoData.poblacion),\n      NOMBRE_POBLACION: normalizeString(nodoData.poblacion),\n      COUNTY: customerCounty,\n      COUNTRY: 'ES',\n      PHONE: normalizeString(nodoData.telefono) || normalizeString(nodoData.movil),\n      MOBILE_PHONE: normalizeString(nodoData.movil),\n      EMAIL: normalizeString(nodoData.email),\n      IBAN: normalizeString(nodoData.iban_contrato),\n      CNAE: normalizeString(nodoData.cnae_actividad)\n    },\n    \n    contract: {\n      USER_ID: 'CRM006',\n      CONTRACT_TYPE: getContractType(nodoData.tipo_empresa),\n      SUPPLY: getSupplyType(nodoData.concepto),\n      CUPS: normalizeString(nodoData.cups),\n      PRODUCT: matchedProduct ? matchedProduct.code : '',\n      TARIFA_BOMP: extractTarifaBomp(nodoData.concepto),\n      TITULAR_NAME: formatName(nodoData.persona_contacto || nodoData.nombre_cliente),\n      TITULAR_VAT: normalizeString(nodoData.persona_contacto_nif || nodoData.nif),\n      'EXTRA_INFO__TITULAR_PHONE': normalizeString(nodoData.movil),\n      IBAN: normalizeString(nodoData.iban_contrato),\n      MANDATO_SEPA: getMandatoSepa(nodoData.tipo_empresa),\n      CUPS_ADDRESS: normalizeString(nodoData.direccion_suministro),\n      CUPS_POSTAL_CODE: normalizeString(nodoData.cp_suministro),\n      CUPS_CITY: normalizeString(nodoData.poblacion_suministro),\n      CUPS_NOMBRE_POBLACION: normalizeString(nodoData.poblacion_suministro),\n      CUPS_COUNTY: cupsCounty,\n      CICLO_LECTURA: nodoData.futura_activacion === 'CUANTO ANTES' ? '1' : '0',\n      digitalSignature: nodoData.firma_digital === '1' ? '1' : '0',\n      SIPSDataReported: '0',\n      'EXTRA_INFO__FACTURA_PAPEL': nodoData.fact_electronica === 'SI' ? '0' : '1',\n      'EXTRA_INFO__NO_TRATAR_DATOS': '0',\n      'EXTRA_INFO__NO_CEDER_DATOS': '0',\n      DESCRIPTION: `NODO ID: ${nodoId} | Comercial: ${nodoData.comercial}`\n    },\n    \n    matched_product: matchedProduct,\n    customer_county_resolved: customerCounty,\n    cups_county_resolved: cupsCounty,\n    firma_digital: nodoData.firma_digital === '1',\n    has_documents: (nodoData.documentacion || []).length > 0,\n    documents: nodoData.documentacion || []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        448
      ],
      "id": "a7de0d64-2c2b-44a9-a77e-927a776d9a6b",
      "name": "Transform NODO Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.WOLF_API_URL || 'https://canallogos.v3.dev.partnertec.es/application/ws/v1/index.php' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.wolf_token }}"
            },
            {
              "name": "method",
              "value": "getByVatOrEmail"
            },
            {
              "name": "class",
              "value": "Customer"
            },
            {
              "name": "VAT",
              "value": "={{ $json.customer.VAT }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2464,
        448
      ],
      "id": "dbde29b7-1979-4a26-96d4-e12ec4927ec5",
      "name": "Check Customer Exists"
    },
    {
      "parameters": {
        "jsCode": "// Check if customer exists and prepare for next step\nconst checkResult = $input.item.json;\nconst transformedData = $('Transform NODO Data').item.json;\n\n// Wolf returns data as an object with IDs as keys, not an array\nconst dataObj = checkResult.data || {};\nconst customers = Object.values(dataObj);\n\nconst customerExists = checkResult.status == 200 && customers.length > 0;\n\nlet customerId = null;\nlet existingCustomer = null;\n\nif (customerExists) {\n  existingCustomer = customers[0];\n  customerId = existingCustomer.CODE;\n}\n\nreturn [{\n  json: {\n    ...transformedData,\n    customer_exists: customerExists,\n    customer_id: customerId,\n    existing_customer: existingCustomer\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2256,
        448
      ],
      "id": "c1904a5d-db3b-4bdc-b62c-453a22c4d5d3",
      "name": "Process Customer Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "customer-exists-condition",
              "leftValue": "={{ $json.customer_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2048,
        448
      ],
      "id": "eef61e9d-cc45-4fd0-860e-159d8d4791bf",
      "name": "Customer Exists?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.WOLF_API_URL || 'https://canallogos.v3.dev.partnertec.es/application/ws/v1/index.php' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.wolf_token }}"
            },
            {
              "name": "method",
              "value": "set"
            },
            {
              "name": "class",
              "value": "Customer"
            },
            {
              "name": "NAME",
              "value": "={{ $json.customer.NAME }}"
            },
            {
              "name": "VAT",
              "value": "={{ $json.customer.VAT }}"
            },
            {
              "name": "VAT_TYPE",
              "value": "={{ $json.customer.VAT_TYPE }}"
            },
            {
              "name": "MANAGER_USER_CODE",
              "value": "={{ $json.customer.MANAGER_USER_CODE }}"
            },
            {
              "name": "ADDRESS",
              "value": "={{ $json.customer.ADDRESS }}"
            },
            {
              "name": "POSTAL_CODE",
              "value": "={{ $json.customer.POSTAL_CODE }}"
            },
            {
              "name": "CITY",
              "value": "={{ $json.customer.CITY }}"
            },
            {
              "name": "NOMBRE_POBLACION",
              "value": "={{ $json.customer.NOMBRE_POBLACION }}"
            },
            {
              "name": "COUNTY",
              "value": "={{ $json.customer.COUNTY }}"
            },
            {
              "name": "COUNTRY",
              "value": "={{ $json.customer.COUNTRY }}"
            },
            {
              "name": "PHONE",
              "value": "={{ $json.customer.PHONE }}"
            },
            {
              "name": "MOBILE_PHONE",
              "value": "={{ $json.customer.MOBILE_PHONE }}"
            },
            {
              "name": "EMAIL",
              "value": "={{ $json.customer.EMAIL }}"
            },
            {
              "name": "IBAN",
              "value": "={{ $json.customer.IBAN }}"
            },
            {
              "name": "CNAE",
              "value": "={{ $json.customer.CNAE }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        560
      ],
      "id": "6722a502-95ab-44a2-9c5f-c790388a53d6",
      "name": "Create Customer"
    },
    {
      "parameters": {
        "jsCode": "// Extract customer ID from creation response\nconst createResult = $input.item.json;\nconst prevData = $('Process Customer Check').item.json;\n\nif (createResult.status != 200) {\n  throw new Error(`Failed to create customer: ${JSON.stringify(createResult.error || createResult)}`);\n}\n\n// Wolf returns CODE directly\nconst customerId = createResult.data?.CODE || null;\n\nif (!customerId) {\n  throw new Error('Customer created but no ID returned');\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    customer_id: customerId,\n    customer_created: true,\n    customer_creation_response: createResult\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        560
      ],
      "id": "f0d2e9c5-bdc2-4464-82f9-100c873bd1c3",
      "name": "Extract Customer ID"
    },
    {
      "parameters": {
        "jsCode": "// Pass through existing customer - just mark as not created\nconst data = $input.item.json;\n\nreturn [{\n  json: {\n    ...data,\n    customer_created: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        368
      ],
      "id": "89914956-6fab-438c-8571-0797a67d8f90",
      "name": "Use Existing Customer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.WOLF_API_URL || 'https://canallogos.v3.dev.partnertec.es/application/ws/v1/index.php' }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.wolf_token }}"
            },
            {
              "name": "method",
              "value": "set"
            },
            {
              "name": "class",
              "value": "Contract"
            },
            {
              "name": "USER_ID",
              "value": "={{ $json.contract.USER_ID }}"
            },
            {
              "name": "CUSTOMER_ID",
              "value": "={{ $json.customer_id }}"
            },
            {
              "name": "CONTRACT_TYPE",
              "value": "={{ $json.contract.CONTRACT_TYPE }}"
            },
            {
              "name": "SUPPLY",
              "value": "={{ $json.contract.SUPPLY }}"
            },
            {
              "name": "CUPS",
              "value": "={{ $json.contract.CUPS }}"
            },
            {
              "name": "PRODUCT",
              "value": "BETA FIJO NEGOCIO"
            },
            {
              "name": "TARIFA_BOMP",
              "value": "={{ $json.contract.TARIFA_BOMP }}"
            },
            {
              "name": "TITULAR_NAME",
              "value": "={{ $json.contract.TITULAR_NAME }}"
            },
            {
              "name": "TITULAR_VAT",
              "value": "={{ $json.contract.TITULAR_VAT }}"
            },
            {
              "name": "EXTRA_INFO__TITULAR_PHONE",
              "value": "={{ $json.contract['EXTRA_INFO__TITULAR_PHONE'] }}"
            },
            {
              "name": "IBAN",
              "value": "={{ $json.contract.IBAN }}"
            },
            {
              "name": "MANDATO_SEPA",
              "value": "={{ $json.contract.MANDATO_SEPA }}"
            },
            {
              "name": "CUPS_ADDRESS",
              "value": "={{ $json.contract.CUPS_ADDRESS }}"
            },
            {
              "name": "CUPS_POSTAL_CODE",
              "value": "={{ $json.contract.CUPS_POSTAL_CODE }}"
            },
            {
              "name": "CUPS_CITY",
              "value": "={{ $json.contract.CUPS_CITY }}"
            },
            {
              "name": "CUPS_NOMBRE_POBLACION",
              "value": "={{ $json.contract.CUPS_NOMBRE_POBLACION }}"
            },
            {
              "name": "CUPS_COUNTY",
              "value": "={{ $json.contract.CUPS_COUNTY }}"
            },
            {
              "name": "CICLO_LECTURA",
              "value": "={{ $json.contract.CICLO_LECTURA }}"
            },
            {
              "name": "digitalSignature",
              "value": "={{ $json.contract.digitalSignature }}"
            },
            {
              "name": "SIPSDataReported",
              "value": "={{ $json.contract.SIPSDataReported }}"
            },
            {
              "name": "EXTRA_INFO__FACTURA_PAPEL",
              "value": "={{ $json.contract['EXTRA_INFO__FACTURA_PAPEL'] }}"
            },
            {
              "name": "EXTRA_INFO__NO_TRATAR_DATOS",
              "value": "={{ $json.contract['EXTRA_INFO__NO_TRATAR_DATOS'] }}"
            },
            {
              "name": "EXTRA_INFO__NO_CEDER_DATOS",
              "value": "={{ $json.contract['EXTRA_INFO__NO_CEDER_DATOS'] }}"
            },
            {
              "name": "DESCRIPTION",
              "value": "={{ $json.contract.DESCRIPTION }}"
            },
            {
              "name": "FIRMA_DATE",
              "value": "={{ $today.format('yyyy-MM-dd')}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        448
      ],
      "id": "ccb723ec-08b1-4f2b-8162-12e1d95bded4",
      "name": "Create Contract"
    },
    {
      "parameters": {
        "jsCode": "// Process contract creation result\nconst contractResult = $input.item.json;\n\n// Get previous data from either path\nlet prevData;\ntry {\n  prevData = $('Extract Customer ID').first().json;\n} catch (e) {\n  try {\n    prevData = $('Use Existing Customer').first().json;\n  } catch (e2) {\n    prevData = {};\n  }\n}\n\nconst success = contractResult.status == 200;\nconst contractId = contractResult.data?.objectId || null;\nconst contractCode = contractResult.data?.CODE || null;\n\nreturn [{\n  json: {\n    success,\n    NODO_id: prevData.NODO_id,\n    wolf_contract_id: contractId,\n    wolf_contract_code: contractCode,\n    wolf_customer_id: prevData.customer_id,\n    customer_created: prevData.customer_created || false,\n    firma_digital: prevData.firma_digital,\n    has_documents: prevData.has_documents,\n    documents: prevData.documents,\n    wolf_token: prevData.wolf_token,\n    error: success ? null : JSON.stringify(contractResult),\n    contract_response: contractResult\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        448
      ],
      "id": "dfc4d79e-4171-4f90-b986-e44e6ce7f7e7",
      "name": "Process Contract Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "success-condition",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -736,
        448
      ],
      "id": "0ce5b4bc-d1be-414f-aa9e-70de9fa559e3",
      "name": "Contract Created?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-docs-condition",
              "leftValue": "={{ $json.has_documents }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -512,
        320
      ],
      "id": "ad8d7e01-516d-44ab-bd9a-ba4b2067f829",
      "name": "Needs Document Upload?"
    },
    {
      "parameters": {
        "fieldToSplitOut": "documents",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -288,
        256
      ],
      "id": "dbfc5b6a-95cd-4823-b2bc-ccaf2ac559a9",
      "name": "Split Documents"
    },
    {
      "parameters": {
        "url": "=https://gaiag.nodogestion.com{{ $json.url_descarga }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        256
      ],
      "id": "15117a90-421e-4072-b33c-4ad5814d81d5",
      "name": "Download Document",
      "credentials": {
        "httpBasicAuth": {
          "id": "8Vg7TyHllfv2EefZ",
          "name": "NODO - Prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://canallogos.v3.dev.partnertec.es/application/ws/v1/index.php",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.wolf_token }}"
            },
            {
              "name": "method",
              "value": "set"
            },
            {
              "name": "class",
              "value": "Contract"
            },
            {
              "name": "objectId",
              "value": "={{ $json.wolf_contract_id }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        176
      ],
      "id": "31a86a3c-2259-4b0d-811c-33a7c7d67275",
      "name": "Check Customer Exists1"
    },
    {
      "parameters": {
        "jsCode": "// Map NODO document type to Wolf file field\nconst item = $input.item;\nconst doc = item.json;\nconst binaryData = item.binary || {};\n\n// Get the binary key\nconst binaryKey = Object.keys(binaryData)[0];\n\nif (!binaryKey) {\n  throw new Error(`No binary data found for document: ${doc.nombre_original}`);\n}\n\n// Map NODO tipo to Wolf field name\nfunction mapDocType(tipo, filename) {\n  const tipoUpper = (tipo || '').toUpperCase();\n  const filenameUpper = (filename || '').toUpperCase();\n  \n  if (tipoUpper === 'CIF' || filenameUpper.includes('DNI') || filenameUpper.includes('CIF')) {\n    return 'VAT_FILE';\n  }\n  if (filenameUpper.includes('FACTURA')) {\n    return 'INVOICE_FILE';\n  }\n  return 'OTHER_FILE';\n}\n\nconst wolfField = mapDocType(doc.tipo, doc.nombre_original);\n\n// Get contract ID from earlier in the flow\nconst contractId = $('Process Contract Result').first().json.wolf_contract_id;\nconst wolfToken = $('Wolf Auth').first().json.data.token;\n\nreturn [{\n  json: {\n    wolf_field: wolfField,\n    wolf_contract_id: contractId,\n    wolf_token: wolfToken,\n    filename: doc.nombre_original,\n    tipo_original: doc.tipo,\n    binary_key: binaryKey\n  },\n  binary: binaryData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        176
      ],
      "id": "77330738-77a1-437e-b705-2f168e7d2059",
      "name": "Prepare Document Upload1"
    },
    {
      "parameters": {
        "jsCode": "// Merge downloaded binary with original document metadata\nconst items = $input.all();\n\nreturn items.map((item, index) => {\n  // Get original document info from Split Documents\n  const originalDocs = $('Split Documents').all();\n  const originalDoc = originalDocs[index]?.json || {};\n  \n  return {\n    json: {\n      nombre_original: originalDoc.nombre_original || item.json.nombre_original,\n      tipo: originalDoc.tipo || item.json.tipo,\n      url_descarga: originalDoc.url_descarga || item.json.url_descarga,\n      // Keep any other fields from download\n      ...item.json\n    },\n    binary: item.binary\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "id": "b7120405-a6ef-478c-85bc-2f017d7fb81c",
      "name": "Merge Document Data"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set NODO ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Set NODO ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set NODO ID": {
      "main": [
        [
          {
            "node": "Get Contract from NODO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contract from NODO": {
      "main": [
        [
          {
            "node": "Merge NODO + References",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wolf Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wolf Auth": {
      "main": [
        [
          {
            "node": "Fetch Counties",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Counties": {
      "main": [
        [
          {
            "node": "Merge Reference Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products": {
      "main": [
        [
          {
            "node": "Merge Reference Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Reference Data": {
      "main": [
        [
          {
            "node": "Build Reference Maps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reference Maps": {
      "main": [
        [
          {
            "node": "Merge NODO + References",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge NODO + References": {
      "main": [
        [
          {
            "node": "Transform NODO Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform NODO Data": {
      "main": [
        [
          {
            "node": "Check Customer Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Customer Exists": {
      "main": [
        [
          {
            "node": "Process Customer Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Customer Check": {
      "main": [
        [
          {
            "node": "Customer Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Exists?": {
      "main": [
        [
          {
            "node": "Use Existing Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer": {
      "main": [
        [
          {
            "node": "Extract Customer ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Customer ID": {
      "main": [
        [
          {
            "node": "Create Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Customer": {
      "main": [
        [
          {
            "node": "Create Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contract": {
      "main": [
        [
          {
            "node": "Process Contract Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Contract Result": {
      "main": [
        [
          {
            "node": "Contract Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Created?": {
      "main": [
        [
          {
            "node": "Needs Document Upload?",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Needs Document Upload?": {
      "main": [
        [
          {
            "node": "Split Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Documents": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Merge Document Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document Upload1": {
      "main": [
        [
          {
            "node": "Check Customer Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Document Data": {
      "main": [
        [
          {
            "node": "Prepare Document Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook Trigger": [
      {
        "headers": {
          "host": "tunuevaenergia.com",
          "x-real-ip": "54.86.50.139",
          "x-forwarded-for": "2a0c:5a84:b301:e400:a530:96f6:f32e:4467, 54.86.50.139",
          "x-forwarded-proto": "https",
          "connection": "upgrade",
          "content-length": "139",
          "user-agent": "PostmanRuntime/7.51.0",
          "accept": "*/*",
          "cache-control": "no-cache",
          "postman-token": "1c12ff05-d6b4-4606-b90e-abdacee010a2",
          "accept-encoding": "gzip, deflate, br",
          "content-type": "multipart/form-data; boundary=----WebKitFormBoundaryBXqZOlsLru4Arv6A"
        },
        "params": {},
        "query": {},
        "body": {
          "id": "220675"
        },
        "webhookUrl": "https://tunuevaenergia.com/webhook/nodo-to-wolf",
        "executionMode": "production"
      }
    ],
    "Get Contract from NODO": [
      {
        "resultado": "OK",
        "datos": {
          "apellido1": "",
          "apellido2": "",
          "cambio_comercializadora": "NO",
          "cnae_actividad": "9820",
          "comercial": "ELECTRICIDAD SAJOY SL",
          "comercializadora": "LOGOS_GAIAG",
          "comercializadora_saliente": "NATURGY",
          "concepto": "2.0TD - ZETA 10",
          "consumo": "3200.0000",
          "consumo_1": "0.00",
          "consumo_2": "0.00",
          "consumo_3": "0.00",
          "consumo_4": "0.00",
          "consumo_5": "0.00",
          "consumo_6": "0.00",
          "coste_operativo": "0.00",
          "cp": "45500",
          "cp_suministro": "45526",
          "cups": "ES0021000007582106ES",
          "direccion": "Avda PLAZA DE TOROS,  4,  2ºA",
          "direccion_suministro": "NORTE  15",
          "email": "silviamelt@gmail.com",
          "estado": "TEMPORAL",
          "fact_electronica": "SI",
          "fecha_activacion": "-",
          "fecha_futura_activacion": "0000-00-00",
          "fee_consumo_1": "0.00",
          "fee_consumo_2": "0.00",
          "fee_consumo_3": "0.00",
          "fee_consumo_4": "0.00",
          "fee_consumo_5": "0.00",
          "fee_consumo_6": "0.00",
          "fee_potencia_1": "0.00",
          "fee_potencia_2": "0.00",
          "fee_potencia_3": "0.00",
          "fee_potencia_4": "0.00",
          "fee_potencia_5": "0.00",
          "fee_potencia_6": "0.00",
          "firma_digital": "1",
          "futura_activacion": "CUANTO ANTES",
          "iban_contrato": "ES6600301057740000439271",
          "id_comercial": 1435,
          "id_usuario_telemarketing": "1169",
          "kam": "Rosa María Molina Vivar",
          "luz_autoconsumo": "SI",
          "movil": "649784108",
          "nif": "03883939K",
          "nombre_cliente": "JOAQUIN MAQUEDA RUIZ",
          "observaciones": "Autoconsumo con excedentes\r\nActivar bateria virtual",
          "observaciones_internas": "",
          "origen_entrada": "",
          "persona_contacto": "JOAQUIN MAQUEDA RUIZ",
          "persona_contacto_nif": "03883939K",
          "poblacion": "Torrijos",
          "poblacion_suministro": "Santo Domingo-Caudilla",
          "porcentaje_coste_operativo": "0.00",
          "potencia_contratada_1": "5.75",
          "potencia_contratada_2": "5.75",
          "potencia_contratada_3": "0.00",
          "potencia_contratada_4": "0.00",
          "potencia_contratada_5": "0.00",
          "potencia_contratada_6": "0.00",
          "provincia": "TOLEDO",
          "provincia_suministro": "TOLEDO",
          "tarifa": "0 - 5.000 KWH",
          "telefono": "",
          "termino_fijo": "0.0000",
          "termino_variable": "0.0000",
          "tipo_contratacion": "",
          "tipo_empresa": "PARTICULAR",
          "documentacion": [
            {
              "nombre_original": "DNI JOAQUIN.pdf",
              "url_descarga": "/api/files/DOCUMENTACION/265997/4904f409569f6e74e2c54431ebab561e.pdf",
              "tipo": "CIF",
              "fecha": "2026-01-27 16:03:33"
            },
            {
              "nombre_original": "FACTURA CLIENTE.pdf",
              "url_descarga": "/api/files/DOCUMENTACION/265997/ef3eb2cdceb57c791bc306ba9ebf8e2b.pdf",
              "tipo": "DOCUMENTACIÓN",
              "fecha": "2026-01-27 16:03:52"
            },
            {
              "nombre_original": "ANEXO AUTOCONSUMO.pdf",
              "url_descarga": "/api/files/DOCUMENTACION/265997/70bf5677228db4c3793f96a9273da493.pdf",
              "tipo": "DOCUMENTACIÓN",
              "fecha": "2026-01-27 16:04:06"
            }
          ],
          "historico": [
            {
              "fecha": "2026-01-27 16:04:32",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "MODIFICAR",
              "texto": "Modificación de datos"
            },
            {
              "fecha": "2026-01-27 16:04:32",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "MODIFICAR OPERACION INTERNO",
              "texto": "Observaciones: 'Autoconsumo con excedentes\nActivar bateria virtual' => 'Autoconsumo con excedentes\r\nActivar bateria virtual', Comisiones porcentaje: '0.00' => '80', Concepto 1: '' => '2.0TD - ZETA 10', Id op operacion: '0' => '26750180', Concepto 2: '' => '0 - 5.000 KWH'"
            },
            {
              "fecha": "2026-01-27 16:04:32",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "MODIFICAR LOGOS",
              "texto": "Direccion suministro: 'Avda PLAZA DE TOROS,  4,  2ºA' => 'NORTE  15', Poblacion suministro: 'Torrijos' => 'Santo Domingo-Caudilla', Cp suministro: '45500' => '45526', Comercializadora saliente: '' => 'NATURGY', Id usuario telemarketing: '0' => '1169', Cups: '' => 'ES0021000007582106ES', Tarifa: '' => '2.0TD', Consumo: '0.0000' => '3200', Iban contrato: '' => 'ES6600301057740000439271', Futura activacion: '' => 'CUANTO ANTES', Firma digital: '0' => '1', Luz autoconsumo: '' => 'SI', Cambio comercializadora: '' => 'NO', Fact electronica: '' => 'SI', Potencia contratada 1: '' => '5.75', Potencia contratada 2: '' => '5.75', Potencia contratada 3: '' => '0.00', Potencia contratada 4: '' => '0.00', Potencia contratada 5: '' => '0.00', Potencia contratada 6: '' => '0.00', Fee potencia 1: '' => '0.00', Fee potencia 2: '' => '0.00', Fee potencia 3: '' => '0.00', Fee potencia 4: '' => '0.00', Fee potencia 5: '' => '0.00', Fee potencia 6: '' => '0.00', Consumo 1: '' => '0.00', Consumo 2: '' => '0.00', Consumo 3: '' => '0.00', Consumo 4: '' => '0.00', Consumo 5: '' => '0.00', Consumo 6: '' => '0.00', Fee consumo 1: '' => '0.00', Fee consumo 2: '' => '0.00', Fee consumo 3: '' => '0.00', Fee consumo 4: '' => '0.00', Fee consumo 5: '' => '0.00', Fee consumo 6: '' => '0.00'"
            },
            {
              "fecha": "2026-01-27 16:04:32",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "SERVICIO INSERTADO",
              "texto": "SERVICIO: MANITAS"
            },
            {
              "fecha": "2026-01-27 16:04:11",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "GUARDAR OBSERVACIONES",
              "texto": "Autoconsumo con excedentes\nActivar bateria virtual"
            },
            {
              "fecha": "2026-01-27 16:04:06",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "DOCUMENTACION INSERTADA",
              "texto": "ANEXO AUTOCONSUMO.pdf (70bf5677228db4c3793f96a9273da493.pdf) id_empresa: 265997; origen: escritorio"
            },
            {
              "fecha": "2026-01-27 16:03:52",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "DOCUMENTACION INSERTADA",
              "texto": "FACTURA CLIENTE.pdf (ef3eb2cdceb57c791bc306ba9ebf8e2b.pdf) id_empresa: 265997; origen: escritorio"
            },
            {
              "fecha": "2026-01-27 16:03:33",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "DOCUMENTACION INSERTADA",
              "texto": "DNI JOAQUIN.pdf (4904f409569f6e74e2c54431ebab561e.pdf) id_empresa: 265997; origen: escritorio"
            },
            {
              "fecha": "2026-01-27 16:03:12",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "GUARDAR OBSERVACIONES",
              "texto": "Autoconsumo con excedentes\nActivar bateria virtual"
            },
            {
              "fecha": "2026-01-27 16:03:12",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "MODIFICAR OPERACION INTERNO",
              "texto": "Observaciones: '' => 'Autoconsumo con excedentes\nActivar bateria virtual'"
            },
            {
              "fecha": "2026-01-27 16:01:03",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "GUARDAR CNAE",
              "texto": "9820.- Actividades de los hogares como productores de servicios para uso propio - 9820"
            },
            {
              "fecha": "2026-01-27 16:01:03",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "MODIFICAR LOGOS",
              "texto": "Cnae: '' => '9820.- Actividades de los hogares como productores de servicios para uso propio', Cnae actividad: '' => '9820'"
            },
            {
              "fecha": "2026-01-27 15:59:40",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "MODIFICAR LOGOS",
              "texto": "Persona contacto: '' => 'JOAQUIN MAQUEDA RUIZ', Persona contacto nif: '' => '27/01/3939 06:59:40'"
            },
            {
              "fecha": "2026-01-27 15:59:40",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "MODIFICAR LOGOS",
              "texto": "Consumo: '0.0000' => '', Direccion suministro: '' => 'Avda PLAZA DE TOROS,  4,  2ºA', Poblacion suministro: '' => 'Torrijos', Provincia suministro: '' => 'TOLEDO', Cp suministro: '' => '45500'"
            },
            {
              "fecha": "2026-01-27 15:59:40",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "JERARQUIA RECARGADA",
              "texto": "Jerarquia de usuarios cargada"
            },
            {
              "fecha": "2026-01-27 15:59:40",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "ASIGNAR CLIENTE",
              "texto": "CLIENTE 265997 ASIGNADO"
            },
            {
              "fecha": "2026-01-27 15:59:40",
              "id_usuario": 1435,
              "usuario": "ELECTRICIDAD SAJOY SL",
              "accion": "NUEVO",
              "texto": "LOGOS"
            }
          ]
        }
      }
    ]
  },
  "meta": {
    "instanceId": "d9ea544fdadf26c0cb1af2a2170c8ad35272e6ce482d9566666c10e545e2572e"
  }
}
